<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
success
<!-- <span th:text="${test}">abc</span> -->
<table border="1" align="center" width="80%">
    <tr> <th>编号</th><th>姓名</th><th>年龄</th></tr>
    <tr th:each="user:${users}">
        <td th:text="${user.id}">001</td>
        <td th:text="${user.username}">abc</td>
        <td th:text="${user.password}">23</td>
    </tr>
    <tr> <td>002</td><td>abcd</td><td>33</td><td>其他</td></tr>
    <tr> <td>003</td><td>abcde</td><td>43</td><td>其他</td></tr>
    </tbody>
</table>

</body>
</html>